boto3>=1.35.23
botocore>=1.35.23
dask>=2024.9.1
docopt>=0.6.2
GitPython>=3.1.43
importlib_resources>=6.4.5
jsonschema>=4.23.0
nltk>=3.9.1
numpy>=2.1.1
pysbd>=0.3.4
pytest>=8.3.3
python-dotenv>=1.0.1
setuptools>=72.1.0
smart_open>=7.0.4
strenum>=0.4.15
tqdm>=4.66.5
typing_extensions>=4.12.2
